<%= render "shared/header" %>

<div class='main'>
  <div class='messages'>
    <h1 class='good-morning'>
    おはよう！
    <h2 class='check-content'>
    〇番さんは、<br>
    学校に来たよ！
    </div>
  </div>
  
</div>